<section>
  <div class="row">
    <div class="column colprop">
      <div style="margin:0% 0px 0px 10%;"><h1
          style="font-family:'Times New Roman', Times, serif; font-size:36px;"
        >Create and manage your inventory for free</h1>
        <p
          style="font-family:'Times New Roman', Times, serif; font-size:20px;"
        >Create your products inventory easily with our free ans easy to use
          builder</p>
      </div>

    </div>
    <div class="column colprop" style="justify-content:center">
      <img
        src="https://sc04.alicdn.com/kf/H12bcd0cde18348508be1694aea9d9cbdw.jpg"
        style="height:50rem;width:50rem"
      />
    </div>
  </div>
</section>